.navbar-dark .navbar-nav .nav-link {
    user-select: none;
}

.card-img {
    max-width: 1500px;
    max-height: 780px;
}

@media (min-width: 1200px) {
    .card-img {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto;
        padding-left: 20px;
    }
}